@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

body {
  /* background-color: #181818; */
  background-color: transparent;
  width: 950px;
  height: 550px;
  --background: rgba(27, 27, 27, 1);
  --background2: rgba(40, 40, 40, 1);
}

#app {
  width: 950px;
  height: 550px;
}

#sidebar {
    height: 550px;
    width: 60px;
    position: absolute;
    background-color: var(--background2);
    z-index: 2;
    border-radius: 15px 0 0 15px;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked + .menu__btn > span::before {
    opacity: 0;
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    left: 0 !important;
  }

  .menu__btn {
    position: fixed;
    top: 23px;
    left: 18px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    z-index: 3;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: #d6d6d6;
    transition-duration: .25s;
    border-radius: 3px;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    border-radius: 15px 0 0 100px;
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 220px;
    height: 100%;
    margin: 0;
    padding: 20px 0;
    list-style: none;
    background-color: var(--background2);
    transition-duration: .25s;
  }

  .menu__box > .header1 {
    text-align: center;
    display: block;
    padding: 12px 24px;
    margin: auto;
    margin-bottom: 5px;
    border-bottom: 2px solid #424242;
    width: 40%;
  }

  .menu__box > .header1 > h1 {
    color: #ffffff;
  }

  .menu__box > .header1 > h2 {
    color: #6e6e6e;
    margin-top: -8px;
    margin-bottom: 5px;
  }

  .menu__box > .status {
    margin-top: 105px;
    display: block;
    color: #6e6e6e;
    border-radius: 15px 0 0 15px;
    margin-left: 50px;
  }

  #status {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 20px;
    margin: 20px;
    border-radius: 50%;
    background-color: #ff6464;
    z-index: 4;
  }

  .menu__item {
    text-align: center;
    display: block;
    padding: 10px 24px;
    color: #acacac;
    font-size: 20px;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover, .active {
    color: #fff;
}

#buttons {
    position: absolute;
    z-index: 10;
    width: 100px;
    height: 40px;
    right: 0px;
    top: 0px;
    margin: 10px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #buttons > div {
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px;
    border-radius: 50%;
  }

  #buttons > div:first-child {
    background-color: #ffcd6b;
    color: #000000;
  }

  #buttons > div:last-child {
    background-color: #ff6464;
    color: #ffffff;
  }


  #buttons > div > p {
    margin-top: -2px;
    opacity: 0;
  }

  #buttons > div:hover > p {
    opacity: 1 !important;
}

#content {
  position: absolute;
  width: 950px;
  height: 550px;
  background-color: var(--background);
  border-radius: 15px;
  z-index: 0;
}

#content .selected {
  display: block;
}

.content__container {
  margin-left: 100px;
  margin-top: 40px;
  display: none;
  color: #ffffff;
}

.content__container h1 {
  margin-left: 20px;
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 0px;
}

.content__container .comment {
  color: #4F4F4F;
  font-size: 19px;
  margin-left: 40px;
}

.auto {
  height: 355px !important;
}

.rune {
  height: 355px !important;
}

.misc {
  height: 355px !important;
  display: flex;
}

.script {
  height: 355px !important;
}

.spells {
  height: 355px !important;
}

.content__container .settings {
  margin-left: 40px;
  height: 299px;
}

.content__container .settings h3 {
  font-weight: 200;
  margin-top: 30px;
  margin-bottom: 20px;
  min-width: 200px;
}

.settings .lanes_img {
  margin-left: -10px;
}

.settings .lanes_img .active {
  background-color: #3c3c3c;
}

.settings .lanes_img img {
  padding: 10px;
  width: 32px;
  height: auto;
  margin: 0 10px;
  background-color: #262626;
  transition: all .2s ease-out;
  cursor: pointer;
}

.settings .lanes_img img:hover {
  background-color: #343434;
  transform: scale(1.2);
}

.content__container .comment a {
  color: #1E93AD;
  text-decoration: none;
}

.button__global {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.toggle_active {
  background-color: #89F38D !important;
}

.button__global .toggle {
  width: 35px;
  height: 15px;
  border-radius: 10px;
  margin-left: 30px;
  background-color: #FF6060;
  transition: .2s;
  cursor: pointer;
}

.text__input {
  width: 250px;
  height: 40px;
  background-color: #232323;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #BDBDBD;
  padding: 5px 15px;
  font: inherit;
}

.char {
  width: 20px;
  height: 20px;
  padding: 6px;
  margin-left: 30px;
  text-align: center;
}

.keybind {
  display: flex;
  align-items: baseline;
}

.block_two {
  margin-left: 70px;
  padding-top: 75px;
}

.select__list {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.select__list #tier {
  margin-right: 20px;
  width: 150px;
  height: 50px;
  background-color: #232323;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #BDBDBD;
  padding: 5px 15px;
  font: inherit;
  cursor: pointer;
}

.select__list #rank {
  width: 70px;
  height: 50px;
  background-color: #232323;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #BDBDBD;
  padding: 5px 15px;
  font: inherit;
  cursor: pointer;
}

.spell__combo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.spells__container {
  width: 140px;
  height: 40px;
  background-color: #232323;
  border-radius: 10px;
  outline: none;
  border: none;
  color: #BDBDBD;
  padding: 0px 5px;
  font: inherit;
  margin-right: 10px;
  cursor: pointer;
}

.spell__combo h3 {
  min-width: 100px !important;
  margin-top: 5px !important;
  margin-bottom: 22px !important;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}