* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  /* background-color: #181818; */
  background-color: transparent;
}

b {
  outline: none;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
  flex-wrap: wrap;
  z-index: 1;
}

.container .card {
  position: relative;
  width: 500px;
  height: 400px;
  margin: 30px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, .5);
  border-radius: 15px;
  background: rgba(51, 51, 51, 0.5);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, .5);
  border-left: 1px solid rgba(255, 255, 255, .5);
  backdrop-filter: blur(5px);
}

.container .card .content {
  padding: 20px;
  text-align: center;
  transform: translateY(0px);
  padding-left: 70px;
  padding-right: 70px;
  transition: .5s;
  min-width: 500px;
  min-height: 200px;
  max-width: 500px;
  max-height: 200px;
}

.container .card .content h2 {
  position: absolute;
  top: -70px;
  right: 15px;
  font-size: 4em;
  color: rgba(255, 255, 255, .1);
  pointer-events: none;
  transition: .3s;
}

.container .card .content h3 {
  font-size: 1.8em;
  color: #ffffff;
  z-index: 1;
}

.container .card .content .lanes__container {
  z-index: 1;
  font-size: 1em;
  color: #ffffff;
  font-weight: 300;
}

.container .card .content .lanes__container p {
  margin-bottom: 10px;
  transition: all .2s;
  cursor: pointer;
}

.container .card .content .lanes__container img {
  width: 32px;
  height: auto;
  margin: 0 10px;
  transition: all .2s ease-out;
}

.container .card .content .lanes__container img:hover {
  margin: 0 15px;
  transform: scale(1.5);
}

.container .card .content .lanes__container .active_img {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 255));
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 255));
}

.container .card .content p {
  font-size: 1em;
  color: #ffffff;
  font-weight: 300;
}

.container .card .content a {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  margin-top: 15px;
  background: #ffffff;
  color: #000000;
  border-radius: 20px;
  min-width: 120px;
  text-decoration: none;
  outline: none;
  font-weight: 500;
  box-shadow: 0 5px 15px rgba(0, 0, 0, .2);
}

.container .card .drag {
  -webkit-app-region: drag;
  position: absolute;
  width: 400px;
  height: 50px;
  z-index: 2;
  top: 0;
}

.container .card .client_status {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 2;
  top: 10px;
  left: 10px;
  background-color: rgba(209, 93, 93, 1);
  animation: pulse 1s infinite alternate linear;
  border-radius: 5px;
}

.container .card .client_close {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 2;
  top: 10px;
  right: 10px;
  background-color: rgba(209, 93, 93, 1);
  border-radius: 5px;
  cursor: pointer;
}

.container .card .client_mini {
  position: absolute;
  width: 10px;
  height: 10px;
  z-index: 2;
  top: 10px;
  right: 25px;
  background-color: rgb(209, 163, 93);
  border-radius: 5px;
  cursor: pointer;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }

  100% {
    opacity: .1;
  }
}

.arrow {
  position: absolute;
  top: 70px;
  text-align: center;
  width: 50px;
  height: 50px;
  font-size: 4em;
  color: rgba(255, 255, 255, .3);
  cursor: pointer;
  transition: .3s;
}

.arrow:hover {
  color: rgba(255, 255, 255, .7);
}

.left {
  left: 10px;
}
.right {
  right: 10px;
}

.disabled {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.disabled p {
  color: #adadad !important;
}

.champion_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: .4s;
}

.champion_container div {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#autoRunes {
  cursor: pointer;
}

#runesPrefix {
  cursor: pointer;
  outline: none;
}

.disabled2 {
  color: #adadad !important;
  text-decoration: line-through;
}

.disabled2 p {
  color: #adadad !important;
  text-decoration: line-through;
}

.champion_container div .disabled {
  color: #adadad !important;
  text-decoration: line-through;
}

.champion_container div p, #enableScripts, #autoAccept {
  padding: 5px 5px;
  cursor: pointer;
}

.noselect, #enableScripts, #autoAccept, #autoRunes {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}